name: Deploy to EC2

on:
  push:
    branches:
      - devops

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup SSH
        run: |
          echo "${{ secrets.EC2_SSH_KEY }}" | tr -d '\r' > ec2-key.pem
          chmod 400 ec2-key.pem
          eval "$(ssh-agent -s)"
          ssh-add ec2-key.pem

      - name: Create Deployment
        id: deployment
        uses: chrnorm/deployment-action@v2
        with:
          token: ${{ github.token }}
          environment: production
          initial-status: in_progress

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no -i ec2-key.pem ubuntu@3.110.56.226 << 'EOF'
            cd ~/CodeGen-Server
            git reset --hard HEAD
            git clean -fd
            git pull origin main
            pnpm install
            pnpx prisma generate
            pnpx prisma migrate deploy
            pnpm run build
            pm2 restart codegen-aws
          EOF

      - name: Update deployment status
        if: always()
        uses: chrnorm/deployment-status@v2
        with:
          token: ${{ github.token }}
          state: ${{ job.status == 'success' && 'success' || 'failure' }}
          deployment-id: ${{ steps.deployment.outputs.deployment_id }}
